/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*--reset--*/
html
{
    font-size: 62.5%;
}

body
{
    font-size: 1.4rem;
    font-family: "Montserrat", Helvetica, sans-serif;
    color: #fff;
    font-weight: 400;
}

h1
{
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    color: #00173f;
}

h2
{
    font-family: "Courgette", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 35px;
    padding-top: 20px;
    color: #fff;
}

h3
{
    font-family: "Courgette", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 22px;
    padding: 20px 0;
}

a
{
    color: #00173f;
    font-weight: 700;
}

a:hover
{
    color: #00173f;
}

.london-bg {
    background: url(../images/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 0px;
}

.blue-bg
{
    background-color: #00173f;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link 
{
    background-color: #00173f;
}

.nav-pills .nav-link {
    border-radius: 0;
}

.nav-link {
    padding: 1rem 1rem;
}

.btn-red
{
    background-color: #B40406;
    border-color: #B40406;
    color: #fff;
}

.btn-group-lg > .btn, .btn-lg 
{
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 0;
}

form label
{
    color: #00173f;
}

.form-control-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-append > .btn, .input-group-lg > .input-group-append > .input-group-text, .input-group-lg > .input-group-prepend > .btn, .input-group-lg > .input-group-prepend > .input-group-text 
{
    font-size: 1.50rem;
    margin-top: 4px;
}

footer
{
    font-size: 1.2rem;
}


/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    h1
    {
        font-size: 60px;
    }
    .london-bg 
    {
        padding: 90px 0px;
    }
 }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    h1
    {
        font-size: 70px;
    }
    .london-bg 
    {
        padding: 100px 0px;
    }
 }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    h1
    {
        font-size: 80px;
    }
    .london-bg 
    {
        padding: 125px 0px;
    }
 }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }

